
/* UTILITIES */
.box {
    height: 50px;
    background: red;
}

.line {
    border: 2px solid currentColor;
    border-radius: 5px;
    width: calc((100% - 53px) / 2);
    height: 2px;
}

.icon {
    width: 32px;
    font-size: 2rem;
    margin-right: 21px;
}

/* HEADER */
/* Main Navigation */
.main-header .site-navbar {
    background: #2C3E50;
}

.main-header .site-brand {
    font-size: 1.5rem;
}

.main-header .site-navbar a.site-nav-link {
    color: #fff;
}

.main-header .site-navbar a.site-nav-link:hover {
    color: #5CBD9D;
}

/* MAIN */
/* Hero */
main .hero {
    padding-top: 100px;
}

main .hero img {
    width: 250px;
}

main .hero,
main #about {
    background: #5CBD9D;
    color: #fff;
}

/* Portfoglio */
main #portfoglio .image-container {
    border-radius: 10px;
}

main #portfoglio .image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}

footer .infos {
    background: #3A546D;
}

footer .copyright {
    background: #2C3E50;
}

