
/* UTILITIES */
.box {
    height: 50px;
    background: red;
}

.line {
    border: 2px solid currentColor;
    border-radius: 5px;
    width: calc((100% - 53px) / 2);
    height: 2px;
}

.icon {
    width: 32px;
    font-size: 2rem;
    margin-right: 21px;
}

.site-btn-outiline-primary {
    background-color: #5CBD9D;
    border-color: #fff;
    color: #fff;
}

.site-btn-outiline-primary:hover {
    background-color: #fff;
    color: #5CBD9D;
    border-color: #fff;
}
.cl-primary {
    color: #5CBD9D;
}

/* HEADER */
/* Main Navigation */
.main-header .site-navbar {
    background: #2C3E50;
}

.main-header .site-brand {
    font-size: 1.5rem;
}

.main-header .site-navbar a.site-nav-link {
    color: #fff;
}

.main-header .site-navbar a.site-nav-link:hover {
    color: #5CBD9D;
}

/* MAIN */
/* Hero */
main .hero {
    padding-top: 100px;
}

main .hero img {
    width: 250px;
}

main .hero,
main #about {
    background: #5CBD9D;
    color: #fff;
}

/* Portfoglio */
main #portfoglio .image-container {
    border-radius: 10px;
}

main #portfoglio .image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}

/* Contact */
main #contacts form input[type="text"],
main #contacts form input[type="email"],
main #contacts form input[type="number"],
main #contacts form textarea {
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    height: 60px;
    padding: 0;
}

main #contacts form textarea {
    height: 200px;
    padding: 1rem 0;
    width: 100%;
}

main #contacts form ::placeholder {
    color: #000;
}

footer .infos {
    background: #3A546D;
}

footer .copyright {
    background: #2C3E50;
}

